@import "../variables.css";

.chart {
  width: 1000px;

  text {
    font: $regular $small $font-family;
  }

  .modules {
    rect {
      fill: color($modules-color a(20%));
    }
    rect.active {
      fill: color($active-color a(20%));
    }
  }

  .students {
    path {
      fill: none;
      stroke: color($students-color a(50%));
      stroke-width: 0.5px;
    }
    circle {
      fill: color($students-color a(50%));
    }

    .active {
      path {
        stroke: $active-color;
        stroke-width: 3px;
      }
      circle {
        stroke: $active-color;
        stroke-width: 3px;
        fill: $active-color;
      }
    }
  }

  .xTicks {
    line {
      fill: none;
      stroke: $text-color;
      stroke-width: 1px;
    }
    text {
      text-anchor: middle;
    }
  }

  .yTicks {
    line {
      fill: none;
      stroke: color($text-color a(10%));
      stroke-width: 1px;
    }
    .current {
      text {
        fill: $active-color
      }
      line {
        stroke: $active-color
      }
    }
    text.progress, text.label {
      text-anchor: end;
    }
    text.num {
      text-anchor: start;
    }
  }

  .actionsTicks line {
    stroke: $active-color;
    stroke-width: 1px;
  }

  .now line {
    stroke: $now;
    stroke-width: 2px;
  }

}
