/* Base Application Styles */
body {
  color: #000;
  background: #fff;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.chart {
  width: 1200px;
  height: 600px;
}

/*
path, line {
  stroke: rgba(0, 0, 0, 0.2);
  stroke-width: 1px;
  fill: none
}

text {
  font-size: 12px;
}
*/
