@import "../variables.css";

body {
  margin: 0;
  padding: 0;
  color: $text-color;
  background: #DEDFE4;
  font: $regular $medium $font-family;
}

.app {
  margin: 50px auto;
  max-width: 1000px;
}

input {width: 1000px}
