$font-family: 'Roboto', Helvetica, Arial, sans-serif;
$text-color: #000;

$active-color: #A61630;
$modules-color: #A5A6C0;
$students-color: #999999;
$now: #7ED321;

$regular: 400;
$bold: 600;

$small: 13px;
$medium: 16px;
$big: 36px;
